build/
art-src/**/raw/
audio-src/**/raw/
__pycache__/
*.pyc
secrets.json
.DS_Store
Thumbs.db
art-src/**/raw*
audio-src/**/cand_*
audio-src/**/_test*
art-src/**/_test*
art-src/**/_trash/
audio-src/**/_trash/
